<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success"> <i class="fa fa-plus"></i></a>
  </h1>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">

          Caption
        </h3>
      </div>
      <div class="panel-body">

        <% @photos.each do |photo| %>

        <%= photo.caption %>
        <img src="<%= photo.image %>" class="img-responsive">"
        <!-- <%= photo.user_id %> -->

      </div>
    </div>
  </div>
</div>

<!-- <th>Image</th>
<th>User</th>
<th>Actions</th> -->



<td>
  <!-- <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a> -->
  <!-- <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
  <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->
</td>
</tr>
<% end %>
</table>
</div>
</div>
