<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">
      <i class="fa fa-plus"></i></a>
    </h1>
  </div>
  <% @photos.each do |photo| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">

            <a href="/users/<%= photo.user_id %>"> <%= photo.user.username %> </a>
            <small><%= time_ago_in_words(photo.created_at)%>  </small>


          </h3>
        </div>
        <div class="panel-body">

          <a href="/photos/<%= photo.id %>">
            <img src="<%= photo.image %>" class="img-responsive">
          </a>
          <p>
            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="photo_id" value="<%= photo.id %>">

              <input type="hidden" name="user_id" value="<%= photo.user_id %>">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>
              <% if photo.likes.count == 0 %>
              <small class="text-muted">be the first to like this</small>
              <% else %>
              <% photo.likes.each do |like| %>
              <small class="text-muted"><%= like.user.username %></small>
              <% end %>
              <% end %>
            </form>
          </p>
          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <input type="hidden" name="photo_id" value="<%=photo.id%>">

                <input type="hidden" name="user_id" value="<%=current_user.id%>">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>

            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
